%head
  = css :application, :media => 'screen'
%body
  %h1 The Production Floor
  %p Watch as employees organize containers. This is tracking backend activity in realtime.
  %script(type="text/javascript" src="/faye/client.js")
  = js :application
